/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ------------------------------- 2. Areas ---------------------------------------- */

.green-text {
    color: green;
}
.blue-text {
    color: blue;
}
.red-text {
    color: red;
}








h1 {
    font-size: 72px;
    padding: 48px 0;
    color: white;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

/* --------------- 2.3 Products ------------------- */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}


/* ------------------------------- 3. Media Queries -------------------------------- */

@media screen and (max-width: 1200px) {
    main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product {
        flex-grow: 1;
    }
}